<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/style.css">
    <title>Pra_Node.js(Delete User page)</title>
    <script src="/send_url.js"></script>
  </head>
  <body>
    <%- include('header.ejs'); %>
    <h1>Welcome to Delete users page !</h1>
    <h3>Delete by User's ID</h3>
    <p>Registered Users</p>
    <table border="2">
      <tr>
        <th>Id</th><th>Name</th>
      </tr>
      <% usersInfo.forEach((userInfo =>{ %>
        <tr>
          <th>
            <%= userInfo.id %>
          </th>
          <th>
            <%= userInfo.name %>
          </th>
        </tr>
      <% })); %>    
    </table>
    <form class="deleteusers" action="/complete_delete_by_admin" method="post">
        <input type="number" name="id" placeholder="Input Id">
        <div>
            <input type="submit" value="Delete">
        </div>
    </form>
    <div class="">
      <h3>Delete User by Buttom</h3>
      <ul>
          <% usersInfo.forEach((userInfo) =>{ %>
              <li class="item_list">
                  <div class="item_name">
                    <%= userInfo.id %> : <%= userInfo.name %>
                  </div>
                  <div class="item_btm">
                      <form action="/delete_by_admin_link/<%= userInfo.id %>" method="post">
                          <input type="submit" value="delete">
                      </form>
                  </div>
              </li>
          <% }) %>
      </ul>
  </div>
    <div class="btm">
      <a class="changepage underline" href="/">Top page!</a>
    </div>
    <%- include('footer.ejs'); %>
  </body>
</html>