<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/style.css">
    <title>Pra_Node.js(My Page)</title>
    <script src="/send_url.js"></script>
  </head>
  <body>
    <%- include('header.ejs'); %>
    <p>id: <%- locals.userInfo.id %></p>
    <p>name: <%- locals.userInfo.name %></p>
    <p>email: <%- locals.userInfo.email %></p>
    <p>password: <%- locals.userInfo.password %></p>
    <p>admin: <%- locals.userInfo.admin %></p>
    <% if(locals.userInfo.admin){ %>
    <div class="btm">
        <a class="changepage underline" href="/delete_by_admin">Delete users!</a>
    </div>
    <% } %>
    <div class="btm">
      <a class="changepage underline" href="/delete">Delete <%= locals.userInfo.name%>!</a>
  </div>
    <div class="btm">
      <a class="changepage underline" href="/">Top page!</a>
    </div>
    <%- include('footer.ejs'); %>
  </body>
</html>