<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/style.css">
    <title>Pra_Node.js</title>
    <script src="/send_url.js"></script>
  </head>
  <body>
    <%- include('header.ejs'); %>
    <p>id: <%- locals.userInfo.id %></p>
    <p>name: <%- locals.userInfo.name %></p>
    <p>email: <%- locals.userInfo.email %></p>
    <p>password: <%- locals.userInfo.password %></p>
    <div class="btm">
        <a class="changepage underline" href="/delete">Delete user</a>
    </div>
    <div class="btm">
      <a class="changepage underline" href="/">Top page</a>
    </div>
    <%- include('footer.ejs'); %>
  </body>
</html>