<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/style.css">
    <title>Pra_Node.js</title>
    <script src="/send_url.js"></script>
  </head>
  <body>
    <%- include('header.ejs'); %>
    <h1>Welcome to page 2 !</h1>
    <% var test = "This is " + " page " + itemId %>
    <%= test %>
    <p>itemId = <%= itemId %></p>
    <p>Registered Users</p>
    <table border="2">
      <tr>
        <th>Id</th><th>Name</th>
      </tr>
      <% usersInfo.forEach((userInfo =>{ %>
        <tr>
          <th>
            <%= userInfo.id %>
          </th>
          <th>
            <%= userInfo.name %>
          </th>
        </tr>
      <% })); %>      
    </table>
    <div class="btm">
      <a class="changepage underline" href="/">Go To Top page</a>
    </div>
    <%- include('footer.ejs'); %>
  </body>
</html>