<% fruits.forEach((fruit) =>{ %>
    <p><%= fruit.id %> : <%= fruit.name %></p>
<% }) %>

<form action="/delete_fruits" method="post">
    <% fruits.forEach((fruit) =>{ %>
        <p>
            <input type="checkbox" name="fruits" value=<%= fruit.name %>> <%= fruit.name %>
        </p>
    <% }) %>
    <input type="submit" value="Delete">
</form>
<ul>
    <% fruits.forEach((fruit) =>{ %>
        <li>
            <%= fruit.name %>
            <form action="/delete_fruits_link/<%= fruit.name %>" method="post">
                <input type="submit" value="delete">
            </form>
        </li>
    <% }) %>
</ul>

<div class="btm">
    <a class="changepage underline" href="/">Top page!</a>
</div>